body {
  width: 100%;
   height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: #ccc;
  align-items: center;
}


h1 {
  color: #f8f4f4;
  font-size: 2em;
  margin-top: 20px;
}
.element{
  transition: all 0.3s ease-in;
  border: 1px solid #0E6EB8;
  justify-content: center;
  align-items: center;
  width: 450px;
  display: flex;
  flex-direction: column;
  height: 400px;
  border-radius: 10px;
  background:url(./35427-407130886_tiny.jpg) no-repeat center center/cover;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

input{
  width: 250px;
  height: 25px;
  border: none;
  color: #ccc;
  font-size: 25px;
  border-bottom: 4px solid #0b07faad;
  margin-top: 10px;
  outline: none;
  background: transparent;
  padding: 10px;
}

input::placeholder{
  color: #faf6f6;
  font-size: 20px;
}
input:focus{
  background:rgba(0,0,0,0.1);
  box-shadow:0px 2px 10px rgba(240, 247, 252, 0.637);
  border-bottom: 4px solid #f4ebf7a8;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button{
  width: 250px;
  height: 40px;
  border: none;
  margin-top: 20px; 
  background: #1624ebaf;
  color: #faf6f6;
  font-size: 20px;
  border-radius: 8px;
  padding: 4px 20px;
}
button:hover{
  background-color:#165aebaf;
}

@media screen and (max-width: 500px) {
  body {
    padding: 12px;
  }

  .element {
    transition: all 0.3s ease-in;
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  button{
    width: auto;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 20px;
  }
}